* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to top, yellow, red);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  padding: 1rem;
  gap: 800px;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 1rem;
}

ul a {
  text-decoration: none;
  color: white;
}

/*SECTION 1*/
main {
  display: flex;
  color: white;
  background: rgb(35, 34, 34);
  margin: 0 50px;
}

#lego {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 70px 0;
  margin: 50px;
}

.lego-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.lego-info h1 {
  font-size: 50px;
  font-weight: 10;
  color: rgb(212, 158, 22);
}
.lego-info p {
  font-size: 15px;
  font-weight: 5;
  color: grey;
}
.lego-info span {
  font-weight: 800;
  text-transform: uppercase;
}
.lego-info a {
  background-color: yellow;
  color: rgb(2, 2, 2);
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 5px;
  text-decoration: none;
}

.lego-torre {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 300px;
}

.lego-torre img {
  height: 500px;
  margin: 40px;
}
